body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 20px;
  font-size: 35px;
  color: white;
  font-family: 'Lobster', cursive;
}

header {
  width: 100vw;
  height: 70px;
  background-color: #1e111d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 17px 15px #0003;
}

.container {
  margin: 0;
  width: 100vw;
  height: 91vh;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container2 {
  margin: 0;
  background-color: #0003;
  width: 80vw;
  height: 75vh;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.containerCards {
  height: 75vh;
  margin-left: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.card {
  background-color: white;
  width: 234px;
  height: 365px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 10px 15px #0003;
  display: flex;
  justify-content: center;
}

.cardContainer {
  background-color: red;
  margin-top: 1rem;
  width: 10.5vw;
  height: 34.5vh;
  display: flex;
}

.item1 {
  background-color: blue;
  width: 127px;
  height: 35px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 2.2rem;
}

.container3 {
  margin-top: 50px;
  width: 80vw;
  height: 5vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.catalogo {
  margin: 0;
  font-size: 35px;
  color: #1e111d;
  font-family: 'Lobster', cursive;
}

.adicionarButton {
  background-color: #1e111d;
  width: 7vw;
  height: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  border-radius: 4px;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 30px;
}

.containerModal {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalCreate {
  margin: 0;
  width: 70vw;
  height: 75vh;
  display: none;
  border-radius: 20px;
  position: absolute;
  top: 15%;
}

@keyframes changeBackgroundColor {
  /* 0% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  } */
  from { background-color: red;}
  to {
    background-color: #000;
  }
}
