*{
    margin: 0;
  
}
.container-Pricipal{
    float: right;
    box-shadow: 0px 0px 30px rgba(12, 5, 7, 0.1);
    background-color:#2c192b;
    width:45%;
    height:100vh;
    left: 720px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundo-Container{
    left: 25%;
    width: 45%;
}
.parte2{
    box-shadow: 0px 0px 30px rgba(3, 1, 2, 0.1);
    background-color:#2c192b;
    width:55%;
    height:100vh;
    
}

.input_login, .input_segundo{
    display:inline-block;
    width: 17.3vw;
    height: 6vh;
    border: 0;
    border-radius: 5px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #eee;
    text-shadow:none;
    padding-left: 13px;
}

.input_email{
    padding: 10px;
    padding-left: 15px;
    margin-top: 30px;
}

.input_senha{
    padding-bottom:20px;
    padding-left: 15px;
    margin-top: 10px;
}

.titulo-Principal{
    margin-left: 15px;
    width: 19vw;
    height: 10vh;
}

h1{
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 54px;
    color: #ffffff;
}

.Titulo-Explicativo{
    margin-top: 15px;
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 15px;
    letter-spacing: -0.4px;
    color: #ffffff;
}

.button{
    display:block;
    border: 1px solid #472845;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #472845;
    text-shadow:none;
}

.senha-esquecida{
    width: 20vw;
    height: 5vh;
}

label{
    margin-left: 84px;
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #ffffff;
}

.botao_entrar{
    padding-top: 20px;
    padding-bottom: 20px;
}

.button{
    margin-left: 65px;
    width: 12vw;
    height: 6vh;
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #ffffff;
    background-color: #472845;
}

.input_cadastrar{
    width: 20vw;
    height: 5vh;
  
}

.texto_cadastrar{
    margin-left: 25px;
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #ffffff;
}

.rodape{
    position: absolute;
    bottom: 0;
    right: 100px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #ffffff;
}



