<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
     <section class="containerPricipal">
         <div class="segundoContainer">
             <div class="title">
                <h1>Seja bem-vindo!</h1>
            </div>
            <p class="paragrafoExplicativo">Insira os seus dados nos campos abaixo <br>
                para acessar a sua conta.</p>
            <div  class="andaCima">
                <input type="text" placeholder="Usuário" name="uname" required>
            </div>
            <div class="andaBaixo">
                <input type="password" placeholder="Senha" name="psw" required>
            </div>
            <div class="textoEsqueci">
            <label>Esqueci minha senha</label> 
            </div>
            <div class="buttonEntrar">
            <button>Entrar</button>
            </div>
            <div class="textoCadastrar">
                <span class="textos">Ainda não tem conta? Cadastrar</span> 
             </div>
           
         </div>
         <p>Precisa de ajuda?</p>
     </section>
</body>
</html>